/* font-family: "Roboto", Arial, sans-serif;
font-family: "Open Sans", Arial, sans-serif; */

/* .Rectangle_50 {
  background-color: rgb(233, 240, 253);
  position: absolute;
  left: 832px;
  top: 681px;
  width: 255px;
  height: 322px;
  z-index: 92;
} */

/* .ееееееееееееееееееееееееееееее {
  font-size: 18px;
  font-family: "Myriad Pro";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 0.611;
  text-align: right;
  position: absolute;
  left: 687.844px;
  top: 43.001px;
  z-index: 119;
} */
body {
  background-color: #ffffff;
}
.container {
  width: 1110px;
  margin: 0 auto;
}
.clearfix::after {
  display: table;
  content: "";
  clear: both;
}
.navigation {
  padding-top: 38px;
  margin-bottom: 106px;
}
.navigation-list {
  width: 466;
  float: right;
  margin-top: 6px;
  /* margin-top: 3px; */
}
.navigation-list li {
  margin-right: 30px;
  float: left;
}
.navigation-list li:last-child {
  margin-right: 0;
}
.navigation-list-item a {
  font-size: 14px;
  font-family: "Open Sans";
  color: #0f0101;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0.786;
  text-decoration: none;
  /* text-align: right; */
}
.navigation-list-item a:hover,
.navigation-list-item a:focus {
  color: rgb(26, 188, 156);
}

.navigation p {
  font-size: 30px;
  font-family: "Roboto";
  color: #555252;
  text-transform: uppercase;
  line-height: 1.067;
  float: left;
  /* padding: 38px; */
  /* margin-top: 38px; */
}
.navigation p::first-letter {
  color: rgb(26, 188, 156);
  font-weight: bold;
}
.product {
  /* padding-top: 38px; */
  margin-bottom: 106px;
}
.product h2 {
  font-size: 48px;
  color: rgb(81, 81, 81);
  line-height: 0.8;
  font-family: "Roboto", Arial, sans-serif;
  text-transform: uppercase;
  /* color: rgb(98, 98, 98); */
  /* line-height: 1.714; */
  text-align: center;
  font-weight: bold;
  /* margin-bottom: 132px; */
  /* padding: 0 0 30px 0; */
}

h2::after {
  content: "";
  background-color: rgb(26, 188, 156);
  height: 8px;
  display: block;
  width: 162px;
  margin: 0px auto;
  margin-bottom: 94px;
}
.product-list li:nth-child(n + 5) {
  margin-bottom: 0;
}
/* .product-list-item img,
h3,
p:hover {
  color: #4ec6ab;
} */
.product-list-item {
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
}
.product-list-item-info a {
  text-decoration: none;
}
.product-list li:nth-of-type(4n) {
  margin-right: 0;
}
.product-list li:nth-child(n +) {
  margin-bottom: 0;
}
h3 {
  font-family: "Roboto", Arial, sans-serif;
  line-height: 1.714;
  font-size: 18px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.778;
  font-weight: bold;
  text-align: left;
  background-color: rgb(50, 50, 50);
  width: 200px;
  height: 40px;
  padding: 6px 0 0 12px;
}

.product-list-item-info a {
  float: left;
}
.product-list-item-info p {
  float: right;
}

.product-list-item p {
  font-weight: bold;
  font-size: 18px;
  font-family: "Roboto";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.778;
  text-align: center;
  background-color: rgb(50, 50, 50);
  width: 55px;
  height: 40px;
  padding: 6px 0 0 0;
  filter: opacity(44%);
}

/* .product-list-item-info a:hover,
.product-list-item-info a:focus {
  background-color: rgb(26, 188, 156);
} */

.news {
  margin-bottom: 82px;
}
.news h2 {
  font-size: 48px;
  color: rgb(81, 81, 81);
  line-height: 0.8;
  font-family: "Roboto", Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}
h4 {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 18px;
  color: rgb(85, 82, 82);
  line-height: 1.444;
  width: 350px;
  font-weight: bold;
}
h4::after {
  content: "";
  background-color: rgb(26, 188, 156);
  height: 4px;
  display: block;
  width: 140px;
  /* margin-bottom: 20px; */
}
.news-list-item p {
  font-size: 14px;
  font-family: "Open Sans", Arial, sans-serif;
  color: rgb(85, 82, 82);
  line-height: 1.857;
  width: 350px;
  margin-bottom: 20px;
}
.news-list li {
  margin-right: 30px;
  float: left;
}
.news-list li:nth-of-type(3n) {
  margin-right: 0;
}
.wrapper {
  font-size: 16px;
  font-family: "Open Sans";
  color: rgb(255, 255, 255);
  line-height: 1.625;
  text-align: center;
  background-color: rgb(78, 198, 171);
  padding: 16px 40px 20px 46px;
  cursor: pointer;
  border-radius: 3px;
}
